login-page {
	.login-content
	{
		background-color: #6C6B6B;

		.intro-image-row
			{
				justify-content: center;
				margin-top: 50px;
			}

		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}

			.forgot-button
			{
				color: $white-d;

				.button-inner
				{
					justify-content: flex-start;
				}
			}

			.signup-button
			{
				font-weight: 500;
				color: $white-d;

				.button-inner
				{
					justify-content: flex-end;
				}
			}
		}
	}
}
