<ion-header>
	<ion-navbar>
		<ion-title>Service Status</ion-title>
		<ion-buttons end>
			<button ion-button (click)="presentAlert(obtainedId,itemReceived,itemChecking,paymentRequired,amountRequired,customerApproval,paymentReceived,phoneFixed,phoneDelivered,trackingNo,phoneReceived)">Save</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<!-- <div *ngFor="let result of getResults; let i = index; ">{{result.cms_claim_status}} {{i}}</div> -->
	<!-- <p>{{claimResults[3]}} {{claimResults[4]}} {{claimResults[5]}} {{claimResults[6]}}</p> -->
	<ion-refresher (ionRefresh)="doRefresh($event,obtainedId);">
		<ion-refresher-content
			pullingText="Refresh"
			pullingIcon="arrow-dropdown"
			refreshingSpinner="Circle"
			refreshingText="Refreshing..."
		></ion-refresher-content>
	</ion-refresher>

	<div *ngIf="!claimResults[3]">	
		<ion-list>
			<ion-row>
				<ion-col width-85>Item Received by Service Centre</ion-col>
				<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon></ion-col>
			</ion-row>
		</ion-list>
	</div>
	<div *ngIf="claimResults[3]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Item Received by Service Centre</ion-col>
				<ion-col width-15><ion-toggle [(ngModel)]="itemReceived" #ctl="ngModel"></ion-toggle></ion-col>
			</ion-row>
		</ion-list>
	</div>
	<div *ngIf="!claimResults[4]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Checking In Progress</ion-col>
				<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon></ion-col>
			</ion-row>
		</ion-list>
	</div>
	<div *ngIf="claimResults[4]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Checking In Progress</ion-col>
				<ion-col width-15><ion-toggle [(ngModel)]="itemChecking" #ctl="ngModel"></ion-toggle></ion-col>
			</ion-row>
		</ion-list>
	</div>

	<!-- -->
	<div *ngIf="!claimResults[5]">	
		<ion-list>
			<ion-row>
				<ion-col width-85>Payment Required</ion-col>
				<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon></ion-col>
			</ion-row>
			<div>
				<ion-row padding-top>
					<ion-col width-10></ion-col>
					<ion-col width-60>Amount Required: </ion-col>
					<ion-col width-30>
						<ion-input type="text" [(ngModel)]="amountRequired" #ctl="ngModel" value="{{getAmountRequired}}" 
						[disabled]="true" placeholder="Amount"></ion-input>
					</ion-col>
				</ion-row>
				<div *ngIf="!claimResults[6]">
					<ion-row padding-top>
						<ion-col width-10></ion-col>
						<ion-col width-60>Customer Approval</ion-col>
						<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
						</ion-col>
						<ion-col width-15></ion-col>
					</ion-row>
				</div>
				<div *ngIf="claimResults[6]">
					<ion-row padding-top>
						<ion-col width-10></ion-col>
						<ion-col width-60>Customer Approval</ion-col>
						<ion-col width-15><ion-toggle [(ngModel)]="customerApproval" #ctl="ngModel"></ion-toggle></ion-col>
						<ion-col width-15></ion-col>
					</ion-row>
				</div>
				<div *ngIf="!claimResults[7]">
					<ion-row padding-top>
						<ion-col width-10></ion-col>
						<ion-col width-60>Payment Received</ion-col>
						<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
						</ion-col>
						<ion-col width-15></ion-col>
					</ion-row>
				</div>
				<div *ngIf="claimResults[7]">
					<ion-row padding-top>
						<ion-col width-10></ion-col>
						<ion-col width-60>Payment Received</ion-col>
						<ion-col width-15><ion-toggle [(ngModel)]="paymentReceived" #ctl="ngModel"></ion-toggle></ion-col>
						<ion-col width-15></ion-col>
					</ion-row>
				</div>
			</div>
		</ion-list>
	</div>
	<div *ngIf="claimResults[5]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Payment Required</ion-col>
				<ion-col width-15><ion-toggle [(ngModel)]="paymentRequired" #ctl="ngModel"></ion-toggle></ion-col>
			</ion-row>
			<div *ngIf="paymentRequired == true">
				<ion-row padding-top>
					<ion-col width-10></ion-col>
					<ion-col width-60>Amount Required: </ion-col>
					<ion-col width-30>
						<ion-input type="text" [(ngModel)]="amountRequired" #ctl="ngModel" value="" placeholder="Amount"></ion-input>
					</ion-col>
				</ion-row>
				<ion-row padding-top>
					<ion-col width-10></ion-col>
					<ion-col width-60>Customer Approval</ion-col>
					<ion-col width-15><ion-toggle [(ngModel)]="customerApproval" #ctl="ngModel"></ion-toggle></ion-col>
					<ion-col width-15></ion-col>
				</ion-row>
				<ion-row padding-top>
					<ion-col width-10></ion-col>
					<ion-col width-60>Payment Received</ion-col>
					<ion-col width-15><ion-toggle [(ngModel)]="paymentReceived" #ctl="ngModel"></ion-toggle></ion-col>
					<ion-col width-15></ion-col>
				</ion-row>
			</div>
		</ion-list>
	</div>
	<!-- -->
	<div *ngIf="!claimResults[8]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Phone Repair Completed</ion-col>
				<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon></ion-col>
			</ion-row>
		</ion-list>
	</div>
	<div *ngIf="claimResults[8]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Phone Repair Completed</ion-col>
				<ion-col width-15><ion-toggle [(ngModel)]="phoneFixed" #ctl="ngModel"></ion-toggle></ion-col>
			</ion-row>
		</ion-list>
	</div>
	<div *ngIf="!claimResults[9]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Phone Delivered out to Dealer</ion-col>
				<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon></ion-col>
			</ion-row>
			<div>
				<ion-row padding>
					<ion-col width-35>Enter/Scan Tracking Number</ion-col>
					<ion-col width-50 *ngIf="getTrackingNo2==''">
						<ion-input type="text" [(ngModel)]="trackingNo" #ctl="ngModel" value="{{scannedCode}}" placeholder="Tracking No."></ion-input>
					</ion-col>
					<ion-col width-15 *ngIf="getTrackingNo2==''">
						<ion-icon ios="ios-barcode-outline" md="md-barcode" (click)="scanCode()" style="zoom:3.0;"></ion-icon>
					</ion-col>
					<ion-col width-50 *ngIf="getTrackingNo2!=''"> 
						<ion-input type="text" [(ngModel)]="trackingNo" #ctl="ngModel" value="{{getTrackingNo2}}" [disabled]="true">
						</ion-input>
					</ion-col>
					<ion-col width-15 *ngIf="getTrackingNo2!=''">
						<!-- <ion-icon ios="ios-barcode-outline" md="md-barcode" (click)="scanCode()" style="zoom:3.0;"></ion-icon> -->
					</ion-col>
				</ion-row>
			</div>
		</ion-list>
	</div>
	<div *ngIf="claimResults[9]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Phone Delivered out to Dealer</ion-col>
				<ion-col width-15><ion-toggle [(ngModel)]="phoneDelivered" #ctl="ngModel"></ion-toggle></ion-col>
			</ion-row>
			<div *ngIf="phoneDelivered == true">
				<ion-row padding>
					<ion-col width-35>Enter/Scan Tracking Number</ion-col>
					<ion-col width-50>
						<ion-input type="text" [(ngModel)]="trackingNo" #ctl="ngModel" value="{{scannedCode}}" placeholder="Tracking No.">
						</ion-input>
					</ion-col>
					<ion-col width-15>
						<ion-icon ios="ios-barcode-outline" md="md-barcode" (click)="scanCode()" style="zoom:3.0;"></ion-icon>
					</ion-col>
				</ion-row>
			</div>
		</ion-list>
	</div>
	<div *ngIf="!claimResults[10]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Phone Received by Dealer</ion-col>
				<ion-col width-15><ion-icon style="zoom:2.0;" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon></ion-col>
			</ion-row>
		</ion-list>
	</div>
	<div *ngIf="!claimResults[10]">
		<ion-list>
			<ion-row>
				<ion-col width-85>Phone Received by Dealer</ion-col>
				<ion-col width-15><ion-toggle [(ngModel)]="phoneReceived" #ctl="ngModel"></ion-toggle></ion-col>
			</ion-row>
		</ion-list>
	</div>
</ion-content>
