functionalities-page {
	.menu-title{
		@font-face {
		    font-family: 'Gotham';
		    font-weight: bold;
		    font-style: normal;
		}
		
	}

	.functionalities-content
	{
		border-bottom: 1px solid grey;
		-webkit-tap-highlight-color: #908585;

		.functionalities-list
		{
		}

		.title
		{
			font-size: 16px;
			font-family: "Calibri";
		}

		.info
		{
			font-size: 12px;
			font-family: "Calibri";
			color: #554F4F;
		}

		.item-distance
		{
			align-self: center;
		}

		.item-note
		{
			font-size: 16px;
			font-family: "Calibri";
		}

	}
}
